*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 99vw;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background-color: #EEFFF7;
}

header > h1{
    color: #111111;
}

header > div > img{
    width: 150px;
    height: auto;
    border-radius: 50%;
}

p{
    color:#333333;
}

main > section{
    background-color: #e0e0e1;
    margin: 10px;
    padding: 5px;
}

.ufcds > div > a > img{
    width: 200px;
    height: auto;
    border-radius: 5%;
}

.ufcds{
    background-color: #EEFFF7;
}