*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 99vw;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background-image: url(../img/fundo_mistico.jpg);
}

header > h1{
    color: #e0e0e1;
}

header > div > img{
    width: 150px;
    height: auto;
    border-radius: 50%;
}

p{
    color:#333333;
}

main > .boxes{
    background-color: #e0e0e1;
    margin: 10px;
    padding: 5px;
    opacity: 0.6;
}

.ufcds > div > a > img{
    width: 200px;
    height: auto;
    border-radius: 5%;
}

.ufcds{
    display: flex;
    flex-wrap: wrap;
}

.ufcd{
    margin: 15px;
}

.btn-img{
    opacity: 1;
    transition: 0.3s ease;
}

.btn-img:hover{
    opacity: 0.6;
    transform: scale(1.05);
}